.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn:hover, .btn.active, .btn.show{
  &.boo-btn{
    background-color: $tertiary_color !important;
    color: $custom_white !important;
  }
}

.boo-btn{
  border-color: $tertiary_color !important;
  color: $tertiary_color !important;
  background-color: transparent !important;
}

a{
  text-decoration: none !important;
}

.custom-btn-remove{
  border: 2px solid #DC3545;
  background-color: #DC3545;
  color: $custom_white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  &:hover{
    border: 2px solid #DC3545;
    background-color:  $custom_white;
    color: #DC3545;
  }
}
.custom-btn-add{
  border: 2px solid #198754;
  background-color: #198754;
  color: $custom_white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  &:hover{
    border: 2px solid #198754;
    background-color:  $custom_white;
    color: #198754;
  }
}
.custom-btn-clearcart{
  border: 1px solid #DC3545;
  background-color: #DC3545;
  color: $custom_white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  &:hover{
    border: 1px solid #DC3545;
    background-color:  $custom_white;
    color: #DC3545;
  }
}
.custom-btn-checkout{
  border: 1px solid #198754;
  background-color: #198754;
  color: $custom_white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  &:hover{
    border: 1px solid #198754;
    background-color:  $custom_white;
    color: #198754;
  }
}